{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% load staticfiles %}

{% block title %}"Регистрация"{% endblock %}

{% block content %}

<form class="form-signin signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <input id="id_username" class="form-control form-order" name="username" placeholder="Имя пользователя" type="text" autofocus="autofocus" value='{{ form.username.value|default_if_none:"" }}'>
    {{ form.username.errors }}
    <input id="id_email" class="form-control form-order" name="email" placeholder="Email (опционально)" type="email" value='{{ form.email.value|default_if_none:"" }}'>
    {{ form.email.errors }}
    <input id="id_password1" class="form-control form-order" name="password1" placeholder="Пароль (не менее 6 символов)" type="password">
    {{ form.password1.errors }}
    <input id="id_password2" class="form-control form-order" name="password2" placeholder="Пароль (ещё раз)" type="password">
    {{ form.password2.errors }}
    <input id="id_confirmation_key" name="confirmation_key" type="hidden" >
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" >
    {% endif %}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Зарегистрироваться</button>
</form>

<p>Уже зарегистрированы? <a href="{{ login_url }}">Войти</a>.</p>


{% endblock %}


